<!DOCTYPE html>
<html lang="en">
{% extends 'portfolio/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<style>
    form-text.text-muted {
        color: black !important;
    }
</style>

</head>
<body>
{% block title %}Sign Up{% endblock title %}

{% block content %}


<div class="text-primary"><h1>Be Our Friend!</h1></div>
<p class="text-danger">Please fill in this form to create an account.</p>

<form method="post">
     {{ form|crispy }}
    {% csrf_token %}


    <div class ="btn">
        <button class="btn btn-success ml-2 btn-lg " type="submit" style="margin-left: -205px;">Sign Up</button>
        <p style="color: black !important;font-size: large;font-weight: bold">Already have an account? <a href="{% url 'login' %}">Log in</a>.</p>
    </div>

</form>
{% endblock content %}
</body>
</html>
