<!DOCTYPE html>
<html lang="en">
{% extends 'portfolio/base.html' %}
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


</head>
<body>
{% block title %}Sign Up{% endblock title %}

{% block content %}


    <div class="text-primary"><h1>Be Our Friend!</h1></div>
      <p class="text-danger">Please fill in this form to create an account.</p>

<form method="post">
  {% csrf_token %}


  {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: black">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>

  {% endfor %}

   <div class ="btn">
  <button class="btn btn-success ml-2 btn-lg " type="submit" style="margin-left: -205px;">Sign Up</button>
       <p style="color: black;font-size: large;font-weight: bold">Already have an account? <a href="{% url 'login' %}">Log in</a>.</p>
  </div>

</form>
{% endblock content %}
</body>
</html>
